<h1>this is the secret page</h1>
<p>you found me!!!</p>
<img src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294__340.jpg">

<li><a href="/register">Sign Up!</a></li>
 <li><a href="/login">Login!</a></li>
 <li><a href="/logout">Logout!</a></li>